header {
  background-color: #cccccc;
}

h1 {
  text-align: center;
  color: #ee0077;
}

h2 {
  color: #aacc77;
}

section {
  background-color: #cceecc;
}

a {
  color: #ff1177;
  background-color: #00ee77;
}
img {
  display: none;
}
